<app-admin-navbar></app-admin-navbar>
<div class="container-sm">
    <h3 class="text-success text-center fs-2 text mt-3">Add Employee Form</h3>

    <form class="ms-5 me-5 p-5 ">

        <div class="mb-3 row">
            <label for="floatingInputName" class="col-sm-2 col-form-label">Full Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="floatingInputName"/>
            </div>   
        </div>

        <div class="mb-3 row">
            <label for="floatingInputEmpId" class="col-sm-2 col-form-label">Employee Id</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="floatingInputEmpId"/>
            </div>   
        </div>

        <div class="mb-3 row">
            <label for="floatingInputEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="floatingInputEmail"/>
            </div>   
        </div>

        <div class="mb-3 row">
            <label for="floatingSelect" class="col-sm-2 col-form-label">Gender</label>
            <div class="col-sm-10">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                    <option selected>Select Gender</option>
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                </select>
            </div>   
        </div>

        <div class="mb-3 row">
            <label for="floatingInputUsername" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="floatingInputUsername"/>
            </div>   
        </div>

        <div class="mb-3 row">
            <label for="floatingInputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="floatingInputPassword"/>
            </div>   
        </div>

        <div class="mb-3 row">
            <label for="floatingInputTeleNo" class="col-sm-2 col-form-label">Telephone No</label>
            <div class="col-sm-10">
                <input type="tel" class="form-control" id="floatingInputTeleNo"/>
            </div>   
        </div>

        <div class="mb-3 row">
            <label for="inputStartDate" class="col-sm-2 col-form-label">Start Date</label>
            <div class="col-sm-10">
            <input type="date" class="form-control" id="inputStartDate">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="floatingInputEducation" class="col-sm-2 col-form-label">Education</label>
            <div class="col-sm-10">
                <input type="text"  class="form-control"  id="floatingInputEducation"/>
            </div>
        </div>

        <div class="mb-3 row">
            <label for="floatingInputJobTitle" class="col-sm-2 col-form-label">Job Title</label>
            <div class="col-sm-10">
                <input type="text"  class="form-control"  id="floatingInputJobTitle"/>
            </div>
        </div>

        <div class="position-absolute start-50 translate-middle mt-5">
            <button type="submit" class="btn btn-success ">SUBMIT</button>
        </div>
    </form>
</div>