<app-admin-navbar></app-admin-navbar>
<div class="container-sm">
    <h3 class="text-success text-center fs-2 text mt-3" *ngIf="!isUpdate">Add Employee Form</h3>
    <h3 class="text-success text-center fs-2 text mt-3" *ngIf="isUpdate">Update Employee Form</h3>


    <form class="ms-5 me-5 p-5" [formGroup]="employeeForm" (ngSubmit)="onSubmit()">

        <div class="mb-3 row">
            <label for="floatingInputName" class="col-sm-2 col-form-label">Full Name *</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="floatingInputName" formControlName="fullName" [(ngModel)]="existingEmployee.fullName"
                />
            </div>   
        </div>

        <div class="mb-3 row">
            <label for="floatingInputEmpId" class="col-sm-2 col-form-label">Employee Id *</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="floatingInputEmpId" formControlName="empId" 
                [(ngModel)]="existingEmployee.empId" [readonly]="isUpdate" required="empId"/>
            </div>   
        </div>

        <div class="mb-3 row">
            <label for="floatingInputEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="floatingInputEmail" formControlName="email" [(ngModel)]="existingEmployee.email"/>
            </div>   
        </div>

        <div class="mb-3 row">
            <label for="inputStartDate" class="col-sm-2 col-form-label">Birth Date</label>
            <div class="col-sm-10">
            <input type="date" class="form-control" id="inputStartDate" formControlName="dob" [(ngModel)]="existingEmployee.dob ">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="floatingSelect" class="col-sm-2 col-form-label">Gender</label>
            <div class="col-sm-10">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example" formControlName="gender" [(ngModel)]="existingEmployee.gender">
                    <option selected>Select Gender</option>
                    <option value="MALE">Male</option>
                    <option value="FEMALE">Female</option>
                </select>
            </div>   
        </div>

        <div class="mb-3 row" *ngIf="!isUpdate">
            <label for="floatingInputUsername" class="col-sm-2 col-form-label">Username *</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="floatingInputUsername" formControlName="username" 
                [(ngModel)]="existingEmployee.username" required="username"/>
            </div>   
        </div>

        <div class="mb-3 row" *ngIf="!isUpdate">
            <label for="floatingInputPassword" class="col-sm-2 col-form-label">Password *</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="floatingInputPassword" formControlName="password"
                required="password"/>
            </div>   
        </div>

        <div class="mb-3 row" *ngIf="!isUpdate">
            <label for="floatingInputConfirmPassword" class="col-sm-2 col-form-label">ConfirmPassword *</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="floatingInputConfirmPassword" 
                formControlName="confirmPassword" required="confirmPassword"/>
            </div>   
        </div>
        
        <span class="text-danger" *ngIf="employeeForm.errors?.['passwordMatchError']">Password does not match</span>

        <div class="mb-3 row">
            <label for="floatingInputTeleNo" class="col-sm-2 col-form-label">Telephone No</label>
            <div class="col-sm-10">
                <input type="tel" class="form-control" id="floatingInputTeleNo" formControlName="telephoneNo" 
                [(ngModel)]="existingEmployee.telephoneNo"/>
            </div>   
        </div>

        <div class="mb-3 row">
            <label for="inputStartDate" class="col-sm-2 col-form-label">Start Date</label>
            <div class="col-sm-10">
            <input type="date" class="form-control" id="inputStartDate" formControlName="startDate" [(ngModel)]="existingEmployee.startDate">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="floatingInputLeaveAllowance" class="col-sm-2 col-form-label">Leave Allowance</label>
            <div class="col-sm-10">
                <input type="text"  class="form-control"  id="floatingInputLeaveAllowance" formControlName="leaveAllowance" [(ngModel)]="existingEmployee.leaveAllowance"/>
            </div>
        </div>

        <div class="mb-3 row">
            <label for="floatingInputEducation" class="col-sm-2 col-form-label">Education</label>
            <div class="col-sm-10">
                <input type="text"  class="form-control"  id="floatingInputEducation" formControlName="education" [(ngModel)]="existingEmployee.education"/>
            </div>
        </div>

        <div class="mb-3 row">
            <label for="floatingInputJobTitle" class="col-sm-2 col-form-label">Job Title</label>
            <div class="col-sm-10">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example" formControlName="jobTitle" [(ngModel)]="existingEmployee.jobTitle">
                    <option selected>Select Job Title </option>
                    <option value="PROJECT_MANAGER"> Project Manager</option>
                    <option value="TECH_LEAD">Tech Lead </option>
                    <option value="SENIOR_SOFTWARE_ENGINEER"> Senior Software Engineer</option>
                    <option value="SOFTWARE_ENGINEER">Software Engineer</option>
                    <option value="ASSOCIATE_SOFTWARE_ENGINEER"> Associate software Engineer</option>
                    <option value="TRAINEE_SOFTWARE_ENGINEER">Trainee Software Engineer</option>
                </select>
            </div>  
        </div>

        <div class="mb-3 row">
            <label for="floatingInputSalary" class="col-sm-2 col-form-label">Salary</label>
            <div class="col-sm-10">
                <input type="tel" class="form-control" id="floatingInputSalary" formControlName="salary" [(ngModel)]="existingEmployee.salary"/>
            </div>   
        </div>

        <div class="position-absolute start-50 translate-middle mt-5">
            <button type="submit" class="btn btn-success " [disabled]="employeeForm.invalid">SUBMIT</button>
        </div>
    </form>
</div>