<app-navbar></app-navbar>
<h2 class="ms-5 text-success mt-3 text-center">My Leave Balance</h2>
<table class="table">
    <thead>
      <tr class="table-dark text-center">
        <th scope="col">No of Total leaves</th>
        <th scope="col">No of Balance leaves</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center">
        <td>{{leaveAllowance}}</td>
        <td>{{leaveBalance}}</td>
      </tr>   
    </tbody>
  </table>
<h2 class="ms-5 text-success text-center">My Leave Records</h2>
<table class="table">
    <thead>
      <tr class="table-dark">
        <th scope="col">#</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Reason</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let leave of userLeaveData; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{leave.startDate}}</td>
        <td>{{leave.endDate}}</td>
        <td>{{leave.reason}}</td>
        <td>{{leave.status}}</td>
      </tr>
    </tbody>
  </table>