<app-navbar></app-navbar>
<h2 class="ms-5 text-success mt-3 text-center">My Leave Balance</h2>
<table class="table">
    <thead>
      <tr class="table-dark">
        <th scope="col">#</th>
        <th scope="col">Leave Type</th>
        <th scope="col">No of Total leaves</th>
        <th scope="col">No of Balance leaves</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <th>Annual Leave</th>
        <td>7</td>
        <td>7</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <th>Casual Leave</th>
        <td>7</td>
        <td>7</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <th>Sick Leave</th>
        <td>7</td>
        <td>7</td>
      </tr>
      
    </tbody>
  </table>
<h2 class="ms-5 text-success text-center">My Leave Records</h2>
<table class="table">
    <thead>
      <tr class="table-dark">
        <th scope="col">#</th>
        <th scope="col">Leave Type</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Request Id</th>
        <th scope="col">No of Leaves</th>
        <th scope="col">Reason</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>