<div class="container-fluid g-0 p-2 mt-5" >

    <div class="row g-0">

        <div class="col-md-2 d-flex justify-content-center align-items-center ms-2">
            <img src="../../../assets/images/Profile-01.jpg" alt="Profile Image" class="profile">
        </div>

        <div class="col ps-2">

            <div class="row g-0">
                <div class="col-md-10 text-center" >
                    <span class="name">{{fullName}}</span>
                </div>
            </div>

            <div class="row g-0 mt-3">

                <div class="col-md">

                    <table class="table table-hover mx-auto">
                        <thead class="text-center fs-5 fst-italic text-secondary">
                            <tr>
                                <td colspan="2">Personal Details</td>
                            </tr>
                        </thead>
                        <tbody >
                            <tr>
                                <td>Birthdate</td>
                                <td>{{dob}} </td>
                            </tr>
                            <tr>
                                <td>Gender</td>
                                <td>{{gender}} </td>
                            </tr>
                            <tr>
                                <td>Education</td>
                                <td>{{education}} </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

                <div class="col">

                    <table class="table table-hover mx-auto">
                        <thead class="text-center fs-5 fst-italic text-secondary">
                            <tr>
                                <td colspan="2">Job Details</td>
                            </tr>
                        </thead>
                        <tbody >
                            <tr>
                                <td>Start Date</td>
                                <td>{{startDate}} </td>
                            </tr>
                            <tr>
                                <td>Job Title</td>
                                <td>{{jobTitle}}</td>
                            </tr>
                            <tr>
                                <td>Salary</td>
                                <td>{{salary}} </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>

        </div>

    </div>

</div>

