<nav class="navbar navbar-expand-lg " style="background-color: #97f1cc;">
    <div class="container-fluid">
      <a class="navbar-brand" href="">Leave Management System </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-5" >
          <li class="nav-item">
            <a class="nav-link" href="applyLeave">Employee Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="myLeave">Leave Requests</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="myLeave">Add Employee</a>
          </li>
        </ul>
        <form class="d-flex" >
          <button class="btn btn-outline-success me-5" type="submit" >Logout</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="container-fluid g-0 p-2 mt-5">

    <div class="row g-0">

        <div class="col-md-2 d-flex justify-content-center align-items-center ms-2">
            <img src="../../../assets/images/Profile-01.jpg" alt="Profile Image" class="profile">
        </div>

        <div class="col ps-2">

            <div class="row g-0">

                <div class="col-md-10 text-center">
                    <span class="name">Harish Kalyan Sundar</span>
                </div>

            </div>

            <div class="row g-0 mt-3">

                <div class="col-md">

                    <table class="table table-hover mx-auto">
                        <thead class="text-center fs-5 fst-italic text-secondary">
                            <tr>
                                <td colspan="2">Personal Details</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Birthdate</td>
                                <td>1994-10-06</td>
                            </tr>
                            <tr>
                                <td>Gender</td>
                                <td>Male"</td>
                            </tr>
                            <tr>
                                <td>Education</td>
                                <td>B.Sc (hons) in Software Engineering</td>
                            </tr>
                        </tbody>
                    </table>

                </div>

                <div class="col">

                    <table class="table table-hover mx-auto">
                        <thead class="text-center fs-5 fst-italic text-secondary">
                            <tr>
                                <td colspan="2">Job Details</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Company</td>
                                <td>hSenid lanka</td>
                            </tr>
                            <tr>
                                <td>Experience</td>
                                <td>5 yrs</td>
                            </tr>
                            <tr>
                                <td>Salary</td>
                                <td>100000 LPA</td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>

        </div>

    </div>

</div>